<div data-role="page">
<p id="notice"><%= notice %></p>
  <div data-role="header">
    <h1>Listing books</h1>
  </div><!-- /header -->

  <div data-role="content"> 
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Cliente</th>
    <th>Fecha</th>
    <th>Enviar notificacion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.description %></td>
    <td><%= book.person.name %></td>
    <td><%= book.return_date.strftime("%m/%d/%Y") %></td>
    <td>
	<%if (Time.now) >= (book.return_date)%>
	<%= link_to 'Notificar devolucion de libro', send_message_book_path(book) %>
	<%end%>
    </td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
   
</div><!-- /content -->
<br />

<%= link_to 'New Book', new_book_path %>

</div><!-- /page -->


